<html>
<head>
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<header id="header">
    <a href="index.html" class="logo">Harrison Souchereau </a>
    <ul class="icons">
        <li><a href="https://github.com/hsouch" target="_blank"  class="icon brands fa-github"></a><span class="label"></span></li>
<!--        <li><a href="https://twitter.com/HSouch" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
        <li><a href="https://www.instagram.com/h.souch/?hl=en" target="_blank"  class="icon brands fa-instagram"><span class="label"></span></a></li>
        <li><a href="https://www.linkedin.com/in/hsouchereau/" target="_blank"  class="icon brands fa-linkedin"><span class="label"></span></a></li>
        <li><a href="https://pypi.org/user/HSouch/" target="_blank"  class="icon brands fa-python"><span class="label"></span></a></li>
        <li><a href="https://www.chess.com/member/hsouch" target="_blank" class="icon brands fa-chess-board">
            <span class="label"></span></a></li>





    </ul>
</header>

</html>

